* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: 540;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #79c8ed;
}

.header {
    display: flex;
    justify-content: center;
    padding: 53px;
    font-size: 54px;
}

.mainBody {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.gridSec {
    display: flex;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
    flex-wrap: wrap;
}

.settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 234, 234);
    padding: 30px 30px;
    border: 1px solid black;
    border-radius: 24px;
}

button {
    font-size: 35px;
    border-radius: 10px;
    margin: 12px;
    padding: 5px 10px;
}

.slider {
    height: 30px;
}

.gridDimensions,
.titles {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.gridDimensions {
    margin-bottom: 12px;
}

.colorPicker {
    height: 160px;
    width: 160px;
    margin-bottom: 25px;
}

.panelTitle {
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 600;
}