* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #89cff0;
}

.header {
    display: flex;
    justify-content: center;
    padding: 53px;
    font-size: 54px;
}

.mainBody {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.gridSec {
    display: flex;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
    flex-wrap: wrap;
}

.settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

button {
    font-size: 35px;
    border-radius: 10px;
    margin: 12px;
    padding: 5px 10px;
}

.slider {
    height: 30px;
}

.gridDimensions,
.sliderTitle {
    font-size: 30px;
    text-align: center;
}

.gridDimensions {
    margin-bottom: 12px;
}