* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(135, 199, 224);
}

.header {
    display: flex;
    justify-content: center;
    padding: 53px;
    font-size: 54px;
}

.mainBody {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.gridSec {
    display: flex;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
    flex-wrap: wrap;
}